body {
  background-image: -webkit-gradient(linear, left top, right top, from(#74BAF5), to(#395CD6));
  background-image: linear-gradient(to right, #74BAF5, #395CD6);
}

h1 {
  font-family: 'VT323';
  font-size: 2.25rem;
  color: #222222;
}

h2 {
  font-family: 'VT323';
  font-size: 1.25rem;
  color: #222222;
}

h3 {
  font-family: 'Work Sans';
  font-size: 0.75rem;
  color: #222222;
  font-weight: 300;
}

p {
  font-family: 'Work Sans';
  font-size: 0.75rem;
  color: #222222;
}

button {
  font-family: 'Work Sans';
  font-size: 0.75rem;
  color: #222222;
}

input {
  font-family: 'Work Sans';
  font-size: 0.75rem;
  color: #222222;
}

span {
  font-family: 'Work Sans';
  font-size: 0.75rem;
  color: #222222;
}

input[type=text] {
  height: 1rem;
  border: none;
  border-radius: 1rem;
}

.header {
  background-image: -webkit-gradient(linear, right top, left top, from(#CE5261), to(#FCA17D));
  background-image: linear-gradient(to left, #CE5261, #FCA17D);
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h1 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 0.5rem;
}

.header img {
  width: 32px;
  height: 32px;
  margin-left: 1rem;
}

.btn-spotify {
  font-family: 'VT323';
  font-size: 1.2rem;
  text-decoration: none;
  -webkit-text-decoration-color: #222222;
          text-decoration-color: #222222;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#FCA17D), to(#CE5261));
  background-image: linear-gradient(to left, #FCA17D, #CE5261);
  -webkit-filter: drop-shadow(0 0.15rem 0.15rem #474747);
          filter: drop-shadow(0 0.15rem 0.15rem #474747);
}

.login a {
  color: #222222;
  padding-left: 1rem;
  padding-right: 1rem;
}

.suggestion {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
}

.suggestedTrack {
  background-color: white;
  width: 100%;
}

.suggestedTrack .trackTile {
  padding-top: 1rem;
  width: 100%;
}

.suggestedTrackContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggestedTrackMetadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 64px;
  max-height: 80px;
  min-width: 192px;
  max-width: 192px;
  padding: 0.5rem;
  background-color: #ececec;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.suggestedTrackAlbumArtContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.suggestedTrackAlbumArtContainer img {
  height: 128px;
  width: 128px;
}

.suggestedTrackMetadataPlaceholder {
  height: 48px;
  width: 192px;
  border-radius: 0.5rem;
  background-color: #ececec;
  margin-bottom: 1rem;
}

.suggestedTrackAlbumArtPlaceholder {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 96px;
  width: 96px;
  background-color: #ececec;
}

.suggestButton {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#CE5261), to(#FCA17D));
  background-image: linear-gradient(to right, #CE5261, #FCA17D);
  width: 10rem;
  height: 3rem;
  border-radius: 1.5rem;
  -webkit-filter: drop-shadow(0 0.15rem 0.15rem #474747);
          filter: drop-shadow(0 0.15rem 0.15rem #474747);
}

.suggestButton p {
  font-family: 'VT323';
  font-size: 20px;
}

.playerContainer {
  width: 100%;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  width: 100%;
  background-color: #f5f4f4;
  padding: 1rem 0 1rem 0;
  -webkit-filter: drop-shadow(0 0.15rem 0.15rem #474747);
          filter: drop-shadow(0 0.15rem 0.15rem #474747);
}

.player p {
  font-family: 'VT323';
  font-size: 1.2rem;
  text-align: center;
  color: #222222;
  padding: 1rem 2rem 1rem 2rem;
}

.widgetPlaceholder {
  height: 60px;
  width: 200px;
  background-color: #ececec;
}

.appInfo {
  display: none;
  background-color: #c4c4c4;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 0.5rem;
  width: 70%;
}

.appInfo p {
  color: #222222;
}

.criteria {
  background-color: white;
  padding-bottom: 0.5rem;
}

.criteriaHeader {
  height: 2.25rem;
  background-color: #FCA17D;
}

.criteriaHeader h2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.spacer {
  margin-top: 0.7rem;
  background-color: #ececec;
  height: 2px;
  width: 100%;
}

.genreContainer {
  margin: 1rem 1rem 0 1rem;
}

.genreContainer button {
  margin: 0 0 0 0;
  font-size: 0.6rem;
  color: #222222;
}

.genreContainer button p {
  font-family: 'Work Sans';
}

.genreHeader {
  margin: 0 0 0.5rem 0;
}

.genreFilter {
  margin: 0;
}

.genres {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
}

.genreTile {
  margin: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0 0.4rem 0 0.4rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: left;
}

.genreTile span {
  margin-top: 0.25rem;
  font-size: 0.5rem;
}

.rangeSlider {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.rangeSlider span {
  color: #222222;
  font-weight: 400;
  font-size: 0.6rem;
}

.rangeSliderHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rangeSliderHeader h3 {
  margin-left: 0.5rem;
}

.sliderContainer {
  margin-top: 5px;
}

input[type='checkbox'] {
  margin: 1px 0 0 0;
  height: 0.6rem;
}

input[type='range'] {
  width: 100%;
  height: 6px;
  border-radius: 4px;
  -webkit-appearance: none;
  margin-left: 0;
  background-color: linear-gradient(to right, #74BAF5 0%, #74BAF5 50%, #ececec 50%, #ececec 100%);
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  width: 12px;
  -webkit-appearance: none;
  height: 12px;
  border-radius: 6px;
  cursor: ew-resize;
  background: #74BAF5;
}

.seeds {
  background-color: white;
  -webkit-filter: drop-shadow(0 0.15rem 0.15rem #474747);
          filter: drop-shadow(0 0.15rem 0.15rem #474747);
}

.seedsHeader {
  height: 2.25rem;
  background-color: #FCA17D;
}

.seedsHeader h2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.seedsContainer {
  padding: 1rem;
}

.search {
  display: none;
  width: 100%;
  z-index: 2;
  min-height: 140vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#74BAF5), to(#395CD6));
  background-image: linear-gradient(to right, #74BAF5, #395CD6);
}

.searchBg {
  display: none;
  position: absolute;
  height: 100vh;
  bottom: 400px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.searchControls {
  z-index: 3;
  background-image: -webkit-gradient(linear, left top, right top, from(#CE5261), to(#FCA17D));
  background-image: linear-gradient(to right, #CE5261, #FCA17D);
  width: 100%;
  height: 64px;
}

.searchControls button {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.searchInput {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.searchSubmit {
  margin-left: 1rem;
}

.searchResults {
  padding: 0.5rem;
  padding-top: 1rem;
  height: auto;
}

.searchResults .trackTile {
  -webkit-filter: unset;
          filter: unset;
}

.searchInfoContainer {
  margin-top: 128px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchInfoContainer p {
  font-family: 'VT323';
  font-size: 1.5rem;
  color: #222222;
  text-align: center;
}

.searchInfo {
  margin-top: 2rem;
  opacity: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 64px;
  border-radius: 16px;
  background-color: #ececec;
}

.trackTile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr;
      grid-template-columns: 1.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr;
  margin-bottom: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f4f4;
  place-items: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  border-radius: 0.75rem;
  -webkit-filter: drop-shadow(0 0.15rem 0.15rem #c4c4c4);
          filter: drop-shadow(0 0.15rem 0.15rem #c4c4c4);
}

.trackImageContainer {
  height: 64px;
  width: 64px;
  margin: auto;
}

.albumArtPlaceholder {
  height: 64px;
  width: 64px;
  background-color: #ececec;
}

.trackMetadataContainer {
  float: left;
  margin-left: 0.5rem;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  max-height: 50%;
  max-width: 80%;
  overflow: hidden;
}

.artist {
  font-weight: 600;
}

.trackMetadataUnselected p {
  color: #c4c4c4;
}

.spotifyIconContainer img {
  width: 23px;
  height: 23px;
  position: relative;
  bottom: 10px;
}

.trackAction {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  cursor: pointer;
}

.trackAction img {
  height: 32px;
  width: 32px;
}

.exceptionBg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.exception {
  display: none;
  width: 360px;
  height: 200px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#74BAF5), to(#395CD6));
  background-image: linear-gradient(to right, #74BAF5, #395CD6);
}

.exception p {
  margin: 0 2rem 0 2rem;
  font-family: 'VT323';
  font-size: 1.2rem;
  text-align: center;
}

.exception button {
  height: 2rem;
  width: 8rem;
  margin-top: 2rem;
  font-family: 'VT323';
  font-size: 1.2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#FCA17D), to(#CE5261));
  background-image: linear-gradient(to right, #FCA17D, #CE5261);
  border-radius: 1rem;
}

.exceptionInfo {
  background: white;
  padding: 0.5rem 0 0.5rem 0;
}

.landingBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#74BAF5), to(#395CD6));
  background-image: linear-gradient(to right, #74BAF5, #395CD6);
  height: 100vh;
}

.landing {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
}

.landing p {
  margin: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
}

.landing button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#CE5261), to(#FCA17D));
  background-image: linear-gradient(to right, #CE5261, #FCA17D);
  width: 10rem;
  height: 3rem;
  border-radius: 1.5rem;
  -webkit-filter: drop-shadow(0 0.15rem 0.15rem #474747);
          filter: drop-shadow(0 0.15rem 0.15rem #474747);
  font-family: 'VT323';
  font-size: 20px;
}

.landingInfo {
  background: white;
  width: 100%;
  -webkit-filter: drop-shadow(0 0.15rem 0.15rem #474747);
          filter: drop-shadow(0 0.15rem 0.15rem #474747);
  height: 8rem;
  margin-top: 6rem;
}

.landingDataDisclaimer {
  background: white;
  width: 100%;
  -webkit-filter: drop-shadow(0 0.15rem 0.15rem #474747);
          filter: drop-shadow(0 0.15rem 0.15rem #474747);
  height: 6rem;
}

/* Smartphones (portrait) ----------- */
/* Ipad2 (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .suggestButton {
    width: 13rem;
    height: 4rem;
    border-radius: 2rem;
  }
  .suggestButton p {
    font-size: 24px;
  }
  .genreContainer {
    margin: 1rem 1rem 0 1rem;
  }
  .genreContainer button {
    margin-top: 0.5rem;
    font-size: 0.6rem;
  }
  .genreTile p {
    font-size: 0.55rem;
  }
  .seedsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 80px;
  }
  .trackTile {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 5rem;
    margin-bottom: 0;
    width: 31.2%;
  }
  .trackImageContainer {
    height: 56px;
    width: 56px;
    margin-left: 0.75rem;
  }
  .albumArtPlaceholder {
    height: 56px;
    width: 56px;
    background-color: #ececec;
  }
  .trackImageContainer {
    height: 56px;
    width: 56px;
  }
  .trackImageContainer img {
    height: 56px;
    width: 56px;
  }
  .trackMetadataContainer p {
    font-size: 0.55rem;
  }
  .search {
    height: 140%;
    overflow: hidden;
  }
  .searchResults {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    padding: 0;
    padding-top: 1rem;
    width: 100%;
    overflow-y: hidden;
  }
  .searchResults .trackTile {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 0.5rem 0.5rem 0.5rem;
    width: 31.2%;
  }
}

/* Ipad2 (paysage) ----------- */
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 0.75rem;
  }
  .app {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 11fr;
        grid-template-rows: 1fr 11fr;
  }
  .header {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .search {
    z-index: 2;
    background-image: -webkit-gradient(linear, left top, right top, from(#74BAF5), to(#395CD6));
    background-image: linear-gradient(to right, #74BAF5, #395CD6);
    min-height: unset;
    height: 600px;
    margin-top: 3rem;
    width: 768px;
    border-radius: 16px;
    overflow: hidden;
  }
  .searchBg {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
  }
  .searchControls {
    border-radius: 1rem 1rem 0 0;
  }
  .searchInfoContainer {
    width: 768px;
  }
  .searchInfo {
    margin-top: 2rem;
    opacity: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    height: 64px;
    border-radius: 16px;
    background-color: #ececec;
  }
  .criteria {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    height: 30rem;
    margin: 2rem;
    margin-top: 8rem;
    border-radius: 8px;
    -webkit-filter: drop-shadow(0 0.15rem 0.15rem #474747);
            filter: drop-shadow(0 0.15rem 0.15rem #474747);
  }
  .criteria .criteriaHeader {
    border-radius: 8px 8px 0 0;
  }
  .genreContainer button {
    margin-top: 0.75rem;
    font-size: 0.6rem;
  }
  .suggestion {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    margin: 2rem 0 2rem 0;
    margin-top: 10rem;
  }
  .player {
    border-radius: 8px;
    height: 120px;
    width: 380px;
  }
  .appInfo {
    display: block;
    -webkit-filter: drop-shadow(0 0.15rem 0.15rem #474747);
            filter: drop-shadow(0 0.15rem 0.15rem #474747);
  }
  .seeds {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    height: 24.5rem;
    margin: 2rem;
    margin-top: 8rem;
    border-radius: 8px;
    -webkit-filter: drop-shadow(0 0.15rem 0.15rem #474747);
            filter: drop-shadow(0 0.15rem 0.15rem #474747);
  }
  .seeds .seedsHeader {
    border-radius: 8px 8px 0 0;
  }
  .seedsContainer {
    display: block;
    height: unset;
  }
  .trackTile {
    display: -ms-grid;
    display: grid;
    margin-bottom: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #f5f4f4;
    place-items: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6rem;
    border-radius: 0.75rem;
    width: unset;
    padding: 0;
  }
  .trackTile p {
    font-size: 0.55rem;
  }
  .landingInfo {
    margin-top: 12rem;
    width: 24rem;
    border-radius: 0.5rem;
  }
  .landingDataDisclaimer {
    width: 24rem;
    border-radius: 0.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .criteria {
    margin: 4rem;
    margin-top: 12rem;
    margin-right: 0;
    margin-left: 12rem;
  }
  .suggestion {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 16rem;
  }
  .seeds {
    margin: 4rem;
    margin-left: 0;
    margin-top: 12rem;
    margin-right: 12rem;
  }
  .trackTile p {
    font-size: 0.6rem;
  }
  .appInfo {
    width: 55%;
  }
  .search {
    height: 816px;
    margin-top: 6rem;
  }
  .searchBg {
    height: auto;
  }
}

@media only screen and (min-width: 2000px) {
  .app {
    -ms-grid-columns: 3fr 2fr 3fr;
        grid-template-columns: 3fr 2fr 3fr;
  }
  .criteria {
    margin-top: 14rem;
    margin-left: 30rem;
  }
  .suggestion {
    margin-top: 18rem;
  }
  .seeds {
    margin-top: 14rem;
    margin-right: 30rem;
  }
  .appInfo {
    width: 40%;
  }
}

@media only screen and (min-width: 2560px) {
  .app {
    -ms-grid-columns: 4fr 2fr 4fr;
        grid-template-columns: 4fr 2fr 4fr;
  }
  .criteria {
    margin-top: 16rem;
    margin-left: 40rem;
  }
  .suggestion {
    margin-top: 20rem;
  }
  .seeds {
    margin-top: 16rem;
    margin-right: 40rem;
  }
  .search {
    height: 816px;
    margin-top: 12rem;
    width: 768px;
    border-radius: 16px;
  }
}
/*# sourceMappingURL=styles.css.map */