//sass variables

//colors
$orange: #FCA17D;
$red: #CE5261;
$darkBlue: #395CD6;
$lightBlue: #74BAF5;
$veryLightGrey: #f5f4f4;
$lightGrey: #ececec;
$midGrey: #c4c4c4;
$darkGrey: #7b7b7b;
$black: #222222;


//body styles 

body {
    background-image: linear-gradient(to right, $lightBlue, $darkBlue);
}
//Text styles 

h1 {
    font-family: 'VT323';
    font-size: 2.25rem;
    color: $black;
}

h2 {
    font-family: 'VT323';
    font-size: 1.25rem;
    color: $black;
}

h3 {
    font-family: 'Work Sans';
    font-size: 0.75rem;
    color: $black;
    font-weight: 300;
}

p {
    font-family: 'Work Sans';
    font-size: 0.75rem;
    color: $black;
}

button {
    font-family: 'Work Sans';
    font-size: 0.75rem;
    color: $black;
}

input {
    font-family: 'Work Sans';
    font-size: 0.75rem;
    color: $black;
}

span {
    font-family: 'Work Sans';
    font-size: 0.75rem;
    color: $black;
}

input[type=text] {
    height: 1rem;
    border: none;
    border-radius: 1rem;
}

//Header specific styles 

.header {
    background-image: linear-gradient(to left, $red, $orange);
    height: 4rem;
    h1 {
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        padding-left: 0.5rem;
    }
}

//Login specific styles 

.btn-spotify {
    font-family: 'Work Sans';
    color: $black;
    text-decoration-color: $black ;
    size: 1rem;
}
//Suggestion specific styles 

.suggestion {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    

}

.suggestedTrack {
    background-color: white;
    width: 100%;
    .trackTile {
        padding-top: 1rem;
        width: 100%;
    }
}

.suggestButton {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.suggestedTrackContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //height: 16rem;
}

.suggestedTrackMetadata {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 64px;
    max-height: 80px;
    min-width: 192px;
    max-width: 192px;
    padding: 0.5rem;
    background-color: $lightGrey;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    //overflow: scroll;
}

.suggestedTrackAlbumArtContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    img {
        height: 128px;
        width: 128px;
    }
}

.suggestedTrackMetadataPlaceholder {
    height: 48px;
    width: 192px;
    border-radius: 0.5rem;
    background-color: $lightGrey;
    margin-bottom: 1rem;
}

.suggestedTrackAlbumArtPlaceholder { 
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 96px;
    width: 96px;
    background-color: $lightGrey;
}

.suggestButton {
    background-image: linear-gradient(to right, $red, $orange);
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
    //filter: drop-shadow(0rem 0.25rem 0.25rem $black);
    p {
        font-family: 'VT323';
        font-size: 20px;
    }
}

//Player specific styles 

.playerContainer {
    width: 100%;
}
.player {
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    width: 100%;
    background-color: $veryLightGrey;
    padding: 1rem 0 1rem 0;
    p {
        font-family: 'VT323';
        font-size: 1.2rem;
        text-align: center;
        color: $black;
        padding: 1rem 2rem 1rem 2rem;
        // margin-left: 1rem;
        // margin-right: 1rem;
    }
}

.widgetPlaceholder {
    height: 60px;
    width: 200px;
    background-color: $lightGrey;

}

// Criteria specific styles
.criteria {
    background-color: white;
    padding-bottom: 0.5rem;
}
.criteriaHeader {
    height: 2.25rem;
    background-color: $orange;
    h2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
}

.spacer {
    margin-top: 0.7rem;
    background-color: $lightGrey;
    height: 2px;
    width: 100%;
}

//genres specific styles
.genreContainer {
    button {
        margin: 0 0 0 0;
        //margin-left: 1rem;
        font-size: 0.6rem;
        color: $black;
        p {
            font-family: 'Work Sans';
            
        }
    }
    margin: 1rem 1rem 0 1rem;
}

.genreHeader {
    margin: 0 0 0.5rem 0;
}
 .genreFilter {
    margin: 0;
}

.genres {
    // margin: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
}

.genreTile {
    margin: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 0.2rem 0.4rem 0.1rem 0.4rem;
    height: 0.8rem;
    display: flex;
    place-items: left;
    p { 
        font-size: 0.6rem;
    }
}

//RangeSlider specific styles 
.rangeSlider {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    //padding-bottom: 0.5rem;

    span {
        color: $black;
        font-weight: 400;
        font-size: 0.6rem;
    }
}

.rangeSliderHeader {
    display: flex;
    h3 {
        margin-left: 0.5rem;
    }
}

.sliderContainer {
    margin-top: 5px;
}

input[type='checkbox'] {
    margin: 1px 0 0 0;
    height: 0.6rem;
}


input[type='range'] {
    width: 100%;
    height: 6px;
    border-radius: 4px;
    -webkit-appearance: none;
    margin-left: 0;
    background-color: linear-gradient(to right, #74BAF5 0%, #74BAF5 50%, #ececec 50%, #ececec 100%);
}


input[type='range']::-webkit-slider-thumb {
    position: relative;
    width: 12px;
    -webkit-appearance: none;
    height: 12px;
    border-radius: 6px;
    cursor: ew-resize;
    background: $lightBlue;
}



//Seed specific styles 
.seeds {
    background-color: white;
}

.seedsHeader {
    height: 2.25rem;
    background-color: $orange;
    h2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
}

.seedsContainer {
    padding: 0.5rem;
}


//Search specific styles 
.modalBG {
    width: 100%;
    min-height: 200%;
    position: absolute;
   background-image: linear-gradient(to right, $lightBlue, $darkBlue);
   //background: white;
}


.search {
    min-height: 500%;
    overflow: scroll;

}

.searchControls {
    position: fixed;
    background-image: linear-gradient(to right, $red, $orange);
    width: 100%;
    display: grid;
    height: 64px;
    grid-template-columns: 2.5fr 0.25fr 1fr 1fr 0.25fr;
    button {
        margin-left: 0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    }
}

.searchInput {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.searchSubmit {
    grid-column-start: 2;
    grid-column-start: 3;
}

.searchResults {
    padding: 0.5rem;
    padding-top: 5rem;
}

.searchInfoContainer {
    //background-color: $darkBlue;
    margin-top: 64px;
    width: 100%;
    position: fixed;
    display: flex;
    //place-items: center;
    justify-content: center;

    p {
        font-family: 'VT323';
        font-size: 1.5rem;
        color: $black;
    }
}

.searchInfo {
    margin-top: 2rem;
    opacity: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
    width: 40%;
    height: 64px;
    border-radius: 16px;
    background-color: $lightGrey;
}





//Track tile specific styles
.trackTile {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    margin-bottom: 1rem;
    justify-content: space-between;
    background-color: $veryLightGrey;
    place-items: left;
    align-items: center;
    height: 6rem;
    border-radius: 0.75rem;
}
.trackImageContainer {
    height: 64px;
    width: 64px;
    margin: auto;
}
.albumArtPlaceholder { 
    height: 64px;
    width: 64px;
    background-color: $lightGrey;
}

.trackMetadataContainer {
    float: left;
    margin-left: 0.5rem;
    grid-column-start: 2;
    grid-column-end: 5;
    max-height: 50%;
    max-width: 80%;
    overflow: hidden;
}

.trackMetadataUnselected {
    p {
        color: $midGrey;
    }
    
}

.trackAction {
    grid-column-start: 5;
    grid-column-end: 6;
    cursor: pointer;
    img {
        color: red;
    }
}