//sass variables

//colors
$orange: #FCA17D;
$red: #CE5261;
$darkBlue: #395CD6;
$lightBlue: #74BAF5;
$veryLightGrey: #f5f4f4;
$lightGrey: #ececec;
$midGrey: #c4c4c4;
$darkGrey: #7b7b7b;
$black: #222222;

//shadow
$dropShadow: drop-shadow(0 0.15rem 0.15rem #474747);
$dropShadowLight: drop-shadow(0 0.15rem 0.15rem $midGrey);

//body styles 

body {
    background-image: linear-gradient(to right, $lightBlue, $darkBlue);
}
//Text styles 

h1 {
    font-family: 'VT323';
    font-size: 2.25rem;
    color: $black;
}

h2 {
    font-family: 'VT323';
    font-size: 1.25rem;
    color: $black;
}

h3 {
    font-family: 'Work Sans';
    font-size: 0.75rem;
    color: $black;
    font-weight: 300;
}

p {
    font-family: 'Work Sans';
    font-size: 0.75rem;
    color: $black;
}

button {
    font-family: 'Work Sans';
    font-size: 0.75rem;
    color: $black;
}

input {
    font-family: 'Work Sans';
    font-size: 0.75rem;
    color: $black;
}

span {
    font-family: 'Work Sans';
    font-size: 0.75rem;
    color: $black;
}

input[type=text] {
    height: 1rem;
    border: none;
    border-radius: 1rem;
}

.header {
    background-image: linear-gradient(to left, $red, $orange);
    height: 4rem;
    h1 {
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        padding-left: 0.5rem;
    }
}

//Login styles 

.btn-spotify {
    font-family: 'VT323';
    font-size: 1.2rem;
    text-decoration-color: $darkBlue;
    size: 1rem;
}
//Suggestion styles 

.suggestion {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    

}

.suggestedTrack {
    background-color: white;
    width: 100%;
    .trackTile {
        padding-top: 1rem;
        width: 100%;
    }
}

.suggestButton {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.suggestedTrackContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //height: 16rem;
}

.suggestedTrackMetadata {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 64px;
    max-height: 80px;
    min-width: 192px;
    max-width: 192px;
    padding: 0.5rem;
    background-color: $lightGrey;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    //overflow: scroll;
}

.suggestedTrackAlbumArtContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    img {
        height: 128px;
        width: 128px;
    }
}

.suggestedTrackMetadataPlaceholder {
    height: 48px;
    width: 192px;
    border-radius: 0.5rem;
    background-color: $lightGrey;
    margin-bottom: 1rem;
}

.suggestedTrackAlbumArtPlaceholder { 
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 96px;
    width: 96px;
    background-color: $lightGrey;
}

.suggestButton {
    background-image: linear-gradient(to right, $red, $orange);
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;

    filter: $dropShadow;
    p {
        font-family: 'VT323';
        font-size: 20px;
    }
}

$dropShadow: drop-shadow(0 0.15rem 0.2rem #474747);

//Player styles 

.playerContainer {
    width: 100%;
}
.player {
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    width: 100%;
    background-color: $veryLightGrey;
    padding: 1rem 0 1rem 0;
    filter: $dropShadow;
    p {
        font-family: 'VT323';
        font-size: 1.2rem;
        text-align: center;
        color: $black;
        padding: 1rem 2rem 1rem 2rem;
        // margin-left: 1rem;
        // margin-right: 1rem;
    }
}

.widgetPlaceholder {
    height: 60px;
    width: 200px;
    background-color: $lightGrey;
}

//appInfo styles

.appInfo {
    display: none;
    background-color: $midGrey;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    width: 70%;
    p {
        color: $black;
    }
}



// Criteria styles
.criteria {
    background-color: white;
    padding-bottom: 0.5rem;
    
}
.criteriaHeader {
    height: 2.25rem;
    background-color: $orange;
    h2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
}

.spacer {
    margin-top: 0.7rem;
    background-color: $lightGrey;
    height: 2px;
    width: 100%;
}

//genres styles
.genreContainer {
    button {
        margin: 0 0 0 0;
        //margin-left: 1rem;
        font-size: 0.6rem;
        color: $black;
        p {
            font-family: 'Work Sans';
        }
    }
    margin: 1rem 1rem 0 1rem;
}

.genreHeader {
    margin: 0 0 0.5rem 0;
}
 .genreFilter {
    margin: 0;
}

.genres {
    // margin: 0.5rem 1rem 0.5rem 1rem;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    scrollbar-gutter: auto;
    overflow-y: scroll;
}

.genreTile {
    margin: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 0 0.4rem 0 0.4rem;
    height: 1rem;
    display: flex;
    place-items: left;
    span {
        margin-top: 0.25rem;
        font-size: 0.5rem;
    }
}

//RangeSlider styles 
.rangeSlider {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    //padding-bottom: 0.5rem;

    span {
        color: $black;
        font-weight: 400;
        font-size: 0.6rem;
    }
}

.rangeSliderHeader {
    display: flex;
    h3 {
        margin-left: 0.5rem;
    }
}

.sliderContainer {
    margin-top: 5px;
}

input[type='checkbox'] {
    margin: 1px 0 0 0;
    height: 0.6rem;
}


input[type='range'] {
    width: 100%;
    height: 6px;
    border-radius: 4px;
    -webkit-appearance: none;
    margin-left: 0;
    background-color: linear-gradient(to right, #74BAF5 0%, #74BAF5 50%, #ececec 50%, #ececec 100%);
}


input[type='range']::-webkit-slider-thumb {
    position: relative;
    width: 12px;
    -webkit-appearance: none;
    height: 12px;
    border-radius: 6px;
    cursor: ew-resize;
    background: $lightBlue;
}



//Seed styles 
.seeds {
    background-color: white;
    filter: $dropShadow;
}

.seedsHeader {
    height: 2.25rem;
    background-color: $orange;
    h2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
}

.seedsContainer {
    padding: 1rem;
}


//search styles 

.search {
    width: 100%;
    z-index: 2;
    min-height: 140vh;
    background-image: linear-gradient(to right, $lightBlue, $darkBlue);
}

.searchBg {
    position: absolute;
    height: 100vh;
    bottom:  400px;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.searchControls {
    z-index: 3;
    background-image: linear-gradient(to right, $red, $orange);
    width: 100%;
    height: 64px;
    button {
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.searchInput {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.searchSubmit {
    margin-left: 1rem;
}



.searchResults {
    padding: 0.5rem;
    padding-top: 1rem;
    height: auto;
    .trackTile {
        filter: unset;
    }
}

.searchInfoContainer {
    //background-color: $darkBlue;
    margin-top: 128px;
    width: 100%;
    position: relative;
    display: flex;
    //place-items: center;
    justify-content: center;

    p {
        font-family: 'VT323';
        font-size: 1.5rem;
        color: $black;
        text-align: center;
    }
}

.searchInfo {
    margin-top: 2rem;
    opacity: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
    width: 50%;
    height: 64px;
    border-radius: 16px;
    background-color: $lightGrey;
}





//Track tile styles
.trackTile {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    margin-bottom: 1rem;
    justify-content: space-between;
    background-color: $veryLightGrey;
    place-items: left;
    align-items: center;
    height: 6rem;
    border-radius: 0.75rem;
    filter: $dropShadowLight;
}

.trackImageContainer {
    height: 64px;
    width: 64px;
    margin: auto;
}
.albumArtPlaceholder { 
    height: 64px;
    width: 64px;
    background-color: $lightGrey;
}

.trackMetadataContainer {
    float: left;
    margin-left: 0.5rem;
    grid-column-start: 2;
    grid-column-end: 5;
    max-height: 50%;
    max-width: 80%;
    overflow: hidden;
}

.trackMetadataUnselected {
    p {
        color: $midGrey;
    }
    
}

.trackAction {
    grid-column-start: 5;
    grid-column-end: 6;
    cursor: pointer;
    img {
        color: red;
    }
}

//BREAK POINTS

/* Smartphones (portrait) ----------- */
    //Mobile first

/* Ipad2 (portrait) ----------- */
@media only screen and (min-width : 768px){

    // 768 suggestion styles

    .suggestButton {
        width: 13rem;
        height: 4rem;
        border-radius: 2rem;
        p {
            font-size: 24px;
        }
    }

    // 768 genres styles
    .genreContainer {
        button {
            margin-top: 0.5rem;
            font-size: 0.6rem;

        }
        margin: 1rem 1rem 0 1rem;
    }

    .genreTile {
        p { 
            font-size: 0.55rem;
        }
        // padding: 0.2rem 0.4rem 0.2rem 0.4rem;
        // height: 0.8rem;
    }

    //768 seeds styles
    .seedsContainer {
        display: flex;
        justify-content: space-evenly;  
        height: 80px;
    }
  
    //768 trackTile styles

    .trackTile {
        grid-template-columns: 1.5fr 1fr 1fr 0.5fr 1fr;
        justify-content: space-evenly;
        height: 5rem;
        margin-bottom: 0;
        width: 31.2%;
    }
    .trackImageContainer {
        height: 56px;
        width: 56px;
        margin-left: 0.75rem;
    }
    

    .albumArtPlaceholder { 
        height: 56px;
        width: 56px;
        background-color: $lightGrey;
    }

    .trackImageContainer {
        height: 56px;
        width: 56px;
        img {
            height: 56px;
            width: 56px;
        }
    }

    .trackMetadataContainer {
        //overflow: scroll;
        p {
            font-size: 0.55rem;
        }
    }

    //768 search styles

    .search {
        height: 140%;
        //overflow: scroll;
    }
    
    .searchResults {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding: 0;
        padding-top: 1rem;
        width: 100%;
        overflow-y: scroll;
        .trackTile {
            grid-template-columns: 1.5fr 1fr 1fr 0.5fr 1fr;
            justify-content: space-evenly;
            margin: 0 0.5rem 0.5rem 0.5rem;
            width: 31.2%;
        }
    }
}


/* Ipad2 (paysage) ----------- */
@media only screen and (min-width : 1024px) {

    //1024 general styles

    h3 {
        font-size: 0.75rem;
    }

    //1024 app styles
    .app {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 11fr;
    }

    //1024 header styles
    .header {
        //grid stuff
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    //1024 search styles 

    .search {
        z-index: 2;
        background-image: linear-gradient(to right, $lightBlue, $darkBlue);
        min-height: unset;
        height: 600px;
        margin-top: 3rem;
        width: 768px;
        border-radius: 16px;
        overflow: hidden;
    }
    
    .searchBg {
        background-color: rgba(0,0,0,0.2);
        position: absolute;
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    .searchControls {
        border-radius: 1rem 1rem 0 0;
    }

    .searchInfoContainer {
        //background-color: $darkBlue;
        width: 768px;
    }

    .searchInfo {
        margin-top: 2rem;
        opacity: 100%;
        display: flex;
        place-items: center;
        justify-content: center;
        width: 50%;
        height: 64px;
        border-radius: 16px;
        background-color: $lightGrey;
    }


    
    //1024 criteria styles
    .criteria {
        //grid stuff
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 30rem;
        margin: 2rem;
        margin-top: 8rem;
        border-radius: 8px;
        //overflow: scroll;
        filter: $dropShadow;
        .criteriaHeader {
            border-radius: 8px 8px 0 0;
        }
    }

    //1024 genres styles 
    .genreContainer {
        button {
            margin-top: 0.75rem;
            font-size: 0.6rem;
            
        }
    }


    //1024 suggestion styles
    .suggestion {

        //grid stuff
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        margin: 2rem 0 2rem 0;
        margin-top: 10rem;
    }

    .player {
        border-radius: 8px;
        height: 120px;
        width: 380px;
    }

    //1024 appInfo styles 

    .appInfo {
        display: block;
        filter: $dropShadow;
    }

    //1024 seeds styles
    .seeds {
        //grid stuff
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;

        height: 24.5rem;
        margin: 2rem;
        margin-top: 8rem;
        border-radius: 8px;
        filter: $dropShadow;
        .seedsHeader {
            border-radius: 8px 8px 0 0;
        }
    }

    .seedsContainer {
        display: block;
        height: unset;

    }

    //1024 trackTile styles

    .trackTile {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
        margin-bottom: 1rem;
        justify-content: space-between;
        background-color: $veryLightGrey;
        place-items: left;
        align-items: center;
        height: 6rem;
        border-radius: 0.75rem;
        width: unset;
        padding: 0;

        p {
            font-size: 0.55rem;
        }
    }
}
 

@media only screen and (min-width : 1440px){
    .criteria {
        margin: 4rem;
        margin-top: 12rem;
        margin-right: 0;
        margin-left: 12rem;
    }

    .suggestion {
        align-items: center;
        margin-top: 16rem;
    }

    .seeds {
        margin: 4rem;
        margin-left: 0;
        margin-top: 12rem;
        margin-right: 12rem;
    }

    .trackTile {
        p {
            font-size: 0.6rem;
        }
    }

    .appInfo {
        width: 55%;
    }

    .search {
        height: 816px;
        margin-top: 6rem;
    }

    .searchBg {
        height: auto;
    }
}

@media only screen and (min-width : 2000px){
    .app {
        grid-template-columns: 3fr 2fr 3fr;
    }
    .criteria {
        margin-top: 14rem;
        margin-left: 30rem;
    }

    .suggestion {
        margin-top: 18rem;
    }

    .seeds {
        margin-top: 14rem;
        margin-right: 30rem;
    }

    .appInfo {
        width: 40%;
    }
}

@media only screen and (min-width : 2560px) {
    .app {
        grid-template-columns: 4fr 2fr 4fr;
        
    }
    .criteria {
        margin-top: 16rem;
        margin-left: 40rem;
    }

    .suggestion {
        margin-top: 20rem;
    }

    .seeds {
        margin-top: 16rem;
        margin-right: 40rem;
    }

    

    .search {
        height: 816px;
        margin-top: 12rem;
        width: 768px;
        border-radius: 16px;
    }
}
// //or 4k? 
// @media only screen and (min-width : 1800px){
// }
